
your_file.jpeg
testeddd.jpeg
*.gz
data/MNIST/raw/t10k-images-idx3-ubyte
data/MNIST/raw/t10k-labels-idx1-ubyte
data/MNIST/raw/train-images-idx3-ubyte
data/MNIST/raw/train-labels-idx1-ubyte
*.meta
data/cifar-10-batches-py/data_batch_1
data/cifar-10-batches-py/data_batch_2
data/cifar-10-batches-py/data_batch_3
data/cifar-10-batches-py/data_batch_4
data/cifar-10-batches-py/data_batch_5
data/cifar-10-batches-py/readme.html
data/cifar-10-batches-py/test_batch
D.jpg
H.jpg
I.jpg
image.png
K.jpg
L-2.jpg
O-2.png
pleaseWorkU-2.png
pleaseWorkU.png
R.jpg
R2.jpg
return.png
SignAlertPhoto.jpg
SignAlertPhoto.png
T.jpg
W.jpg
X.jpg
SignAlertPhoto.jpg
